{
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": false,
  "singleQuote": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "trailingComma": "none",
  "printWidth": 140,
  "svelteIndentScriptAndStyle": false
}
